/*===== Logo Importainer =====*/
.logo-princ {
  display: flex;
  height: 70px;
  width: 130px;
  display: flex;
  align-items: center;
  margin-left: 50px;
  margin-top: -10px;
  cursor: pointer;
  z-index: 5;
}

.logo {
  opacity: 0.6;
}

.container {
  padding: 50px 0;
  margin: auto;
  overflow: hidden;
  z-index: 4;
}

/*===== Header =====*/
.all {
  position: relative;
  bottom: 100vh;
  z-index: 9;
}

.menu-btn-p {
  display: none;
}

.menu-bar-p {
  display: flex;
  padding-top: 30px;
}

nav {
  text-align: right;
  padding: 0% 5%;
  display: flex;
  position: absolute;
  right: 20px;
}

nav a {
  font-weight: 500;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 10px;
}

nav a:hover {
  text-decoration: underline;
}

nav ul a {
  margin-left: 10px;
}

.nav-right-p a {
  color: var(--blanco-titulo);
}

/*===== Responsive =====*/

@media screen and (max-width: 1940px) {
  nav a {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 800px) {
  /*===== Menu Responsive =====*/

  .all {
    position: static;
  }

  .logo-princ {
    position: absolute;
    top: 32px;
  }

  p {
    font-size: 1rem;
  }

  .nav-menu-p {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.61);
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    transform: translateX(-500%);
    transition: transform 0.8s ease-in-out;
  }

  .nav-menu-p.show {
    transform: translateX(0%);
  }

  .fa-bars {
    z-index: 100;
  }
  .nav-menu-p ul {
    display: block;
    position: absolute;
  }

  .nav-right-p {
    top: 28%;
  }

  .nav-right-p a {
    margin-top: 80px;
    display: block;
    text-align: center;
    font-size: 30px;
  }

  .logo-princ {
    margin-left: 0px;
  }

  .menu-btn-p {
    display: flex;
    position: absolute;
    top: 32px;
    right: 30px;
    color: #ffffff;
  }
}

@media screen and (max-width: 430px) {
  /*===== Resp menu =====*/

  .nav-right-p a {
    margin-top: 50px;
    font-size: 20px;
  }
}
