/*===== Contacto =====*/
.contact-container {
    width: 80%;
    margin: auto;
    overflow: visible;
    padding: 50px 0;
  }
  
  .comp {
    margin-top: -20px;
    display: flex;
  }
  
  .datos {
    margin-top: 0px;
  }

  .datos p {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 1.4rem;
  }
  
.EnvConsulta {
  margin-top: 20px;
  margin-bottom: -45px;
}

  /*===== Formulario =====*/
  
  form {
    margin-top: 2%;
    width: 110%;
    border-radius: 10px;
    background-color: rgba(245, 245, 245, 0);
  }
  
  form input[type="text"],
  form input[type="email"] {
    width: 90%;
    padding: 10px 10px;
    border: 1px solid #383535;
    border-radius: 3px;
    background-color: #f6f6f600;
    margin: 8px 0;
    display: inline-block;
  }
  
  form input[type="submit"] {
    width: 90%;
    padding: 10px 10px;
    margin-top: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    display: block;
    color: rgb(255, 255, 255);
    background-color: #000;
  }
  
  form input[type="submit"]:hover {
    cursor: pointer;
  }
  
  textarea {
    width: 90%;
    height: 100px;
    border: 1px solid #2b2828;
    border-radius: 3px;
    background-color: #f6f6f600;
    padding: 10px 10px;
    margin: 8px 0;
    /*resize: vertical | horizontal | none | both*/
    resize: none;
    display: block;
  }
  
  /*===== Map =====*/

  .container-der{
    margin-top: 50px;
    height: 900px;
    overflow: hidden;
  }

  .der {
    float: right;
    height: 100%;
    width: 55%;
  }
  
  .DescRight {
    margin-top: 0px;
    margin-bottom: 25px;
    text-align: center;
    margin-right: -20%;
  }

  .DescRight h2 {
    font-size: 26px;
  }

  .DescRight p {
    font-size: 1.33rem;
  }

  .mapouter {
    position: static;
    text-align: right;
    width: 100%;
    height: 100%;
  }
  .gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 100%;
    height: 600px;
  }
  .gmap_iframe {
    height: 600px !important;
  }
  
  /*===== Responsive =====*/
  @media screen and (max-width: 800px) {
    /*===== Contacto =====*/
    .datos p {
      font-size: 1.2rem;
    }
    .comp {
      display: flex;
      flex-wrap: wrap;
    }
    .der {
      width: 100%;
      margin: auto;
    }
    .mapouter {
      text-align: center;
    }
    .DescRight {
      text-align: center;
      margin-right: 0%;
    }
  }
  